<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>EyeOnDataService</servlet-name>
    <servlet-class>uk.ac.ox.oucs.eyeondata.server.EyeOnDataServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>EyeOnDataService</servlet-name>
    <url-pattern>/eyeondata/EyeOnData</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>WebPageServlet</servlet-name>
	<servlet-class>uk.ac.ox.oucs.eyeondata.server.WebPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>WebPageServlet</servlet-name>
	<url-pattern>/v/*</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
